@model MVC_Dept_Emp.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cname)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Cid }) |
    <a asp-action="Index">Back to List</a>
</div>
