@model IEnumerable<MVC_Dept_Emp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cid)
                </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Cid}) |
                    @Html.ActionLink("Details", "Details", new { id=item.Cid }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Cid })
            </td>
        </tr>
}
    </tbody>
</table>
